[submodule "externals/skia"]
	path = externals/skia
  	url = git@github.com:021dev/skia.git
	branch = neat
[submodule "externals/depot_tools"]
	path = externals/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
