{
  "branches": ["main"],
  "tagFormat": "v${version}",
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "build", "scope": "skia", "release": "patch"},
        {"type": "chore", "scope": "skia", "release": "patch"},
        {"type": "feat", "release": "minor"},
        {"type": "fix", "release": "patch"},
        {"breaking": true, "release": "major"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "npmPublish": true
    }],
    ["@semantic-release/github", {
      "failComment": false,
      "failTitle": false,
      "releasedLabels": false
    }]
  ]
}
